[submodule "plugins/vulcan"]
	path = plugins/vulcan
	url = https://github.com/e-roux/agent-plugin-vulcan
[submodule "plugins/make"]
	path = plugins/make
	url = https://github.com/e-roux/agent-plugin-make
[submodule "plugins/dev"]
	path = plugins/dev
	url = https://github.com/e-roux/agent-plugin-dev
[submodule "plugins/infra"]
	path = plugins/infra
	url = https://github.com/e-roux/agent-plugin-infra
